node_modules
npm-debug.log
package-lock.json

.gitignore
.travis.yml
.gitattributes
.eslintrc
.editorconfig
.npmignore
.tags*
.DS_Store

appveyor.yml

test
coverage

webpack.config.js
sauce_connect.log
karma.conf.js
